In [1]:
#!pip install psycopg2
#!pip install boto3
#!pip install sqlalchemy
#!conda install -c conda-forge ipython-sql

#!pip install sqlalchemy==1.3.24
#!pip install --upgrade ipython-sql
#!pip install pandas

In [18]:
# import neccessary for Database connection

import psycopg2
import sqlalchemy as sa
import boto3

import pandas as pd

In [19]:
conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="niyi",
    password="Xingjin112"
)

In [20]:
cursor = conn.cursor()

In [21]:
# Execute the SQL command
cursor.execute("SHOW wal_level;")

# Fetch the result
wal_level = cursor.fetchone()[0]
print("wal_level is:", wal_level)

wal_level is: replica

In [5]:
# table 1 loan

cursor.execute("SELECT * FROM loan LIMIT 4")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Convert to DataFrame
df = pd.DataFrame(rows, columns=column_names)

# Display the DataFrame
print(df)

   amount  client_id  created_on  duration  id  matured_on       status  \
0   800.0          1  2019-01-07        26   1  2019-02-02      overdue
1  1000.0          2  2019-01-30        26   2        None  application
2   900.0          3  2019-01-18        30   3  2019-02-17         paid
3  1100.0          4  2019-01-16        27   4  2019-02-12         paid

   updated_on
0  2019-04-08
1  2019-01-30
2  2019-02-17
3  2019-02-12

In [6]:
# table 2 payment

cursor.execute("SELECT * FROM payment LIMIT 4")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Convert to DataFrame
df2 = pd.DataFrame(rows, columns=column_names)

# Display the DataFrame
print(df2)

   id  loan_id  amount  principle  interest   status  created_on
0   1        3  1151.0      900.0     251.0  on_time  2019-02-17
1   2        4  1376.0     1100.0     276.0  on_time  2019-02-12
2   3        7  1023.0      800.0     223.0  on_time  2019-02-19
3   4        8  1862.0     1500.0     362.0  on_time  2019-02-09

In [11]:
conn.rollback()

InterfaceError: connection already closed

In [14]:
# table 3: user
# table 3: user

cursor = conn.cursor()
try:
    cursor.execute('SELECT * FROM "user" LIMIT 15')  # Use double quotes around 'user'
    rows = cursor.fetchall()

    # Get column names
    column_names = [desc[0] for desc in cursor.description]

    # Convert to DataFrame
    df = pd.DataFrame(rows, columns=column_names)

    # Display the DataFrame
    print(df)

except Exception as e:
    print(f"Error: {e}")
    conn.rollback()  # Rollback the transaction
finally:
    #cursor.close()
    #conn.close()
    print('connection done but not closed')

    id  created_on   first_name  last_name  birth_date personal_code
0    1  2019-01-07  Christopher      Lewis  1956-10-18   510-50-5907
1    2  2019-01-30       Donald     Thomas  1949-03-28   344-17-0576
2    3  2019-01-18       Andrew    Hammond  1986-08-01   828-15-1226
3    4  2019-01-16         Erin     Bright  1956-06-12   004-21-5489
4    5  2019-01-18  Christopher     Sawyer  2002-05-13   708-98-5029
5    6  2019-01-09         Sean      Wiley  1998-04-25   857-14-5314
6    7  2019-01-20        Laura   Stephens  1994-12-23   315-46-6240
7    8  2019-01-14        Scott  Rasmussen  1939-06-25   484-45-7795
8    9  2019-01-31       Lauren  Macdonald  1995-06-19   395-54-8457
9   10  2019-01-23     Danielle       Diaz  1944-04-16   291-02-0157
10  11  2019-01-31         John    Sanders  1988-09-04   015-83-0172
11  12  2019-01-30      Kenneth      Roach  1999-05-10   798-51-3203
12  13  2019-01-22        Laura    Swanson  1939-05-06   300-62-6080
13  14  2019-01-12        Nancy      Brown  1931-06-06   305-51-2154
14  15  2019-01-03       Andrea       Boyd  1978-12-28   127-79-4443
connection done but not closed

In [ ]:
# creating a pglogical to monitor changes in the tables loan, payment, user.


CREATE PUBLICATION my_publication FOR TABLE loan, payment, user;

In [ ]:
# check its existence
SELECT * FROM pg_publication;

In [10]:
#cursor.fetchall()

InterfaceError: cursor already closed

In [ ]:
cursor.close()
conn.close()